body {
  background-color: #53af57;
  background-image: url("Bdtheque-totale.jpg");
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}


h3 {
  font-size: 30px;
  line-height: 20px;
  text-shadow: -1px -1px #fb6, 1px 1px #d60, -3px 0 4px #000;
  font-family: "Segoe print", Arial, Helvetica, sans-serif;
  color: #100d1a;
  text-align: right;
}
h1 {
  font-size: 48px;
  line-height: 50px;
  text-shadow: -1px -1px #fb6, 1px 1px #d60, -3px 0 4px #000;
  font-family: "Segoe print", Arial, Helvetica, sans-serif;
  color: #100d1a;
  text-align: center;
}

#container {
  width: 400px;
  margin: 0 auto;
  margin-top: 10%;
}

form {
  background-image: url("italie-ou-le-regard-ne-porte-pas.png");
  width: 100%;
  padding: 30px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-family: "Segoe print";
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: "Segoe print";
}

input[type="submit"] {
  background-color: #356d38;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: "Segoe print";
}
input[type="submit"]:hover {
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
  font-family: "Segoe print";
}
.conteneur1 {
  overflow: hidden;
  max-width: 960px;
  margin: 50px auto;
  box-shadow: 0px 15px 10px -5px #777;
}
footer {
  text-align: end;
}
