 body{
    background-color: #53af57;
    background-image: url(transparente-de-la-rampe-arriere-plan-modele-bd-pour-votre-conception-pwpdjf.jpg);
    
    
}
    


h1{
    
    font-size: 48px;
    line-height: 150px;
    text-shadow: -1px -1px #fb6, 1px 1px #d60, -3px 0 4px #000;
    font-family:"Segoe print", Arial, Helvetica, sans-serif;
    color: #100d1a; 
    text-align:center;
    
  
}

#container{
    
    border-radius: 5px 10px 5px;
    width:400px;
    margin:0 auto;
    margin-top:10%;
    font-family:"Segoe print";
        
    }

form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-family:"Segoe print"
}
 

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family:"Segoe print";
}


input[type=submit] {
    background-color: #356d38;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family:"Segoe print";
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
    font-family:"Segoe print";
 }
    
